## DRIVENDATA'S COMPETITION: “Identifying Topics in World Bank Publications” (Nov 2019)

### 1. EXPLORING THE DATA

### 1.1 Loading data

In [1]:
# Importing packages needed
import pandas as pd
import numpy as np

In [2]:
# Loading the data to be used for model training
X = pd.read_csv('train_values.csv', index_col=0)
y = pd.read_csv('train_labels.csv', index_col=0)

# Loading the data to be used for prediction (Competition's submission) 
X_cmptt_pred = pd.read_csv('test_values.csv', index_col=0)

### 1.2 Data Exploration

#### 1.2.1 Features

In [3]:
# Checking data summary 
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18687 entries, 0 to 18686
Data columns (total 1 columns):
doc_text    18687 non-null object
dtypes: object(1)
memory usage: 292.0+ KB

In [4]:
# Getting a glimpse of data content
X.head()

                                                 doc_text
row_id
0       84327 v2\nThe findings, interpretations, and c...
1                                                     ...
2                                  78156\n\n\n\n\nRisk...
3                                                     ...
4                                                     ...

#### 1.2.2 Labels

In [5]:
# Checking data summary
y.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18687 entries, 0 to 18686
Data columns (total 24 columns):
information_and_communication_technologies    18687 non-null int64
governance                                    18687 non-null int64
urban_development                             18687 non-null int64
law_and_development                           18687 non-null int64
public_sector_development                     18687 non-null int64
agriculture                                   18687 non-null int64
communities_and_human_settlements             18687 non-null int64
health_and_nutrition_and_population           18687 non-null int64
culture_and_development                       18687 non-null int64
social_protections_and_labor                  18687 non-null int64
international_economics_and_trade             18687 non-null int64
conflict_and_development                      18687 non-null int64
science_and_technology_development            18687 non-null int64
rural_development                             18687 non-null int64
poverty_reduction                             18687 non-null int64
social_development                            18687 non-null int64
education                                     18687 non-null int64
transport                                     18687 non-null int64
gender                                        18687 non-null int64
infrastructure_economics_and_finance          18687 non-null int64
energy_and_environment                        18687 non-null int64
finance_and_development                       18687 non-null int64
macroeconomics_and_growth                     18687 non-null int64
water                                         18687 non-null int64
dtypes: int64(24)
memory usage: 3.6 MB

In [6]:
# Getting a glimpse of data content
y.head()

,information_and_communication_technologies,governance,urban_development,law_and_development,public_sector_development,agriculture,communities_and_human_settlements,health_and_nutrition_and_population,culture_and_development,social_protections_and_labor,...,poverty_reduction,social_development,education,transport,gender,infrastructure_economics_and_finance,energy_and_environment,finance_and_development,macroeconomics_and_growth,water
row_id,,,,,,,,,,,,,,,,,,,,,
0,1,0,0,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,1,1,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
2,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [7]:
# Checking on label data summary statistics
y.describe()

,information_and_communication_technologies,governance,urban_development,law_and_development,public_sector_development,agriculture,communities_and_human_settlements,health_and_nutrition_and_population,culture_and_development,social_protections_and_labor,...,poverty_reduction,social_development,education,transport,gender,infrastructure_economics_and_finance,energy_and_environment,finance_and_development,macroeconomics_and_growth,water
count,18687.000000,18687.000000,18687.000000,18687.000000,18687.000000,18687.000000,18687.000000,18687.000000,18687.000000,18687.000000,...,18687.000000,18687.000000,18687.000000,18687.000000,18687.000000,18687.000000,18687.000000,18687.000000,18687.000000,18687.000000
mean,0.041954,0.088992,0.074651,0.129395,0.141382,0.062824,0.085996,0.181784,0.016375,0.122545,...,0.138064,0.086370,0.124311,0.082517,0.057045,0.017927,0.175309,0.471183,0.425911,0.086638
std,0.200490,0.284740,0.262834,0.335645,0.348424,0.242653,0.280365,0.385677,0.126916,0.327923,...,0.344976,0.280917,0.329945,0.275159,0.231935,0.132689,0.380241,0.499182,0.494494,0.281311
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [8]:
# Checking unique values and their frequency
for col in list(y):
    print(col, '\t', np.sort(y[col].unique()))
    print(y[col].value_counts())

information_and_communication_technologies 	 [0 1]
0    17903
1      784
Name: information_and_communication_technologies, dtype: int64
governance 	 [0 1]
0    17024
1     1663
Name: governance, dtype: int64
urban_development 	 [0 1]
0    17292
1     1395
Name: urban_development, dtype: int64
law_and_development 	 [0 1]
0    16269
1     2418
Name: law_and_development, dtype: int64
public_sector_development 	 [0 1]
0    16045
1     2642
Name: public_sector_development, dtype: int64
agriculture 	 [0 1]
0    17513
1     1174
Name: agriculture, dtype: int64
communities_and_human_settlements 	 [0 1]
0    17080
1     1607
Name: communities_and_human_settlements, dtype: int64
health_and_nutrition_and_population 	 [0 1]
0    15290
1     3397
Name: health_and_nutrition_and_population, dtype: int64
culture_and_development 	 [0 1]
0    18381
1      306
Name: culture_and_development, dtype: int64
social_protections_and_labor 	 [0 1]
0    16397
1     2290
Name: social_protections_and_labor, dtype: int64
international_economics_and_trade 	 [0 1]
0    16268
1     2419
Name: international_economics_and_trade, dtype: int64
conflict_and_development 	 [0 1]
0    17868
1      819
Name: conflict_and_development, dtype: int64
science_and_technology_development 	 [0 1]
0    17812
1      875
Name: science_and_technology_development, dtype: int64
rural_development 	 [0 1]
0    16894
1     1793
Name: rural_development, dtype: int64
poverty_reduction 	 [0 1]
0    16107
1     2580
Name: poverty_reduction, dtype: int64
social_development 	 [0 1]
0    17073
1     1614
Name: social_development, dtype: int64
education 	 [0 1]
0    16364
1     2323
Name: education, dtype: int64
transport 	 [0 1]
0    17145
1     1542
Name: transport, dtype: int64
gender 	 [0 1]
0    17621
1     1066
Name: gender, dtype: int64
infrastructure_economics_and_finance 	 [0 1]
0    18352
1      335
Name: infrastructure_economics_and_finance, dtype: int64
energy_and_environment 	 [0 1]
0    15411
1     3276
Name: energy_and_environment, dtype: int64
finance_and_development 	 [0 1]
0    9882
1    8805
Name: finance_and_development, dtype: int64
macroeconomics_and_growth 	 [0 1]
0    10728
1     7959
Name: macroeconomics_and_growth, dtype: int64
water 	 [0 1]
0    17068
1     1619
Name: water, dtype: int64

#### 1.2.3 "Test" data

In [9]:
# As with feature and label data above, checking the data summary for the values to be predicted 
X_cmptt_pred.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18699 entries, 0 to 18698
Data columns (total 1 columns):
doc_text    18699 non-null object
dtypes: object(1)
memory usage: 292.2+ KB

In [10]:
# Again, taking a look into its content
X_cmptt_pred.head()

                                                 doc_text
row_id
0                                                     ...
1        EARLY LEARNING PARTNERSHIP\n\n\n\n\n E L P\n ...
2                                                     ...
3                                                     ...
4                                                     ...

## 2. IMPORTED PYTHON OBJECTS

This section includes the two authored Python Objects used with the predicting model developed further below on this notebook. The functionalities they provide were, at the time of the model's writting up (Nov 2019), inexistent within the main Machine Learning Library used - Scikit-learn, thus the reason for their adoption. Author and source links are provided next.

### 2.1 "Multilabel split train/test" by Peter Brun (DrivenData)
Sourced in 27-11-2019 from: https://github.com/drivendataorg/box-plots-sklearn/blob/master/src/data/multilabel.py

In [11]:
from warnings import warn

import numpy as np
import pandas as pd

def multilabel_sample(y, size=1000, min_count=5, seed=None):
    """ Takes a matrix of binary labels `y` and returns
        the indices for a sample of size `size` if
        `size` > 1 or `size` * len(y) if size =< 1.

        The sample is guaranteed to have > `min_count` of
        each label.
    """
    try:
        if (np.unique(y).astype(int) != np.array([0, 1])).any():
            raise ValueError()
    except (TypeError, ValueError):
        raise ValueError('multilabel_sample only works with binary indicator matrices')

    if (y.sum(axis=0) < min_count).any():
        raise ValueError('Some classes do not have enough examples. Change min_count if necessary.')

    if size <= 1:
        size = np.floor(y.shape[0] * size)

    if y.shape[1] * min_count > size:
        msg = "Size less than number of columns * min_count, returning {} items instead of {}."
        warn(msg.format(y.shape[1] * min_count, size))
        size = y.shape[1] * min_count

    rng = np.random.RandomState(seed if seed is not None else np.random.randint(1))

    if isinstance(y, pd.DataFrame):
        choices = y.index
        y = y.values
    else:
        choices = np.arange(y.shape[0])

    sample_idxs = np.array([], dtype=choices.dtype)

    # first, guarantee > min_count of each label
    for j in range(y.shape[1]):
        label_choices = choices[y[:, j] == 1]
        label_idxs_sampled = rng.choice(label_choices, size=min_count, replace=False)
        sample_idxs = np.concatenate([label_idxs_sampled, sample_idxs])

    sample_idxs = np.unique(sample_idxs)

    # now that we have at least min_count of each, we can just random sample
    sample_count = int(size - sample_idxs.shape[0])

    # get sample_count indices from remaining choices
    remaining_choices = np.setdiff1d(choices, sample_idxs)
    remaining_sampled = rng.choice(remaining_choices,
                                   size=sample_count,
                                   replace=False)

    return np.concatenate([sample_idxs, remaining_sampled])


def multilabel_sample_dataframe(df, labels, size, min_count=5, seed=None):
    """ Takes a dataframe `df` and returns a sample of size `size` where all
        classes in the binary matrix `labels` are represented at
        least `min_count` times.
    """
    idxs = multilabel_sample(labels, size=size, min_count=min_count, seed=seed)
    return df.loc[idxs]


def multilabel_train_test_split(X, Y, size, min_count=5, seed=None):
    """ Takes a features matrix `X` and a label matrix `Y` and
        returns (X_train, X_test, Y_train, Y_test) where all
        classes in Y are represented at least `min_count` times.
    """
    index = Y.index if isinstance(Y, pd.DataFrame) else np.arange(Y.shape[0])

    test_set_idxs = multilabel_sample(Y, size=size, min_count=min_count, seed=seed)
    train_set_idxs = np.setdiff1d(index, test_set_idxs)

    test_set_mask = index.isin(test_set_idxs)
    train_set_mask = ~test_set_mask

    return (X[train_set_mask], X[test_set_mask], Y[train_set_mask], Y[test_set_mask])

### 2.2 "Sparse Interactions" by Peter Brun (DrivenData)
Sourced in 27-11-2019 from: https://github.com/drivendataorg/box-plots-sklearn/blob/master/src/features/SparseInteractions.py

In [12]:
from itertools import combinations

import numpy as np
from scipy import sparse
from sklearn.base import BaseEstimator, TransformerMixin


class SparseInteractions(BaseEstimator, TransformerMixin):
    def __init__(self, degree=2, feature_name_separator="_"):
        self.degree = degree
        self.feature_name_separator = feature_name_separator

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        if not sparse.isspmatrix_csc(X):
            X = sparse.csc_matrix(X)

        if hasattr(X, "columns"):
            self.orig_col_names = X.columns
        else:
            self.orig_col_names = np.array([str(i) for i in range(X.shape[1])])

        spi = self._create_sparse_interactions(X)
        return spi

    def get_feature_names(self):
        return self.feature_names

    def _create_sparse_interactions(self, X):
        out_mat = []
        self.feature_names = self.orig_col_names.tolist()

        for sub_degree in range(2, self.degree + 1):
            for col_ixs in combinations(range(X.shape[1]), sub_degree):
                # add name for new column
                name = self.feature_name_separator.join(self.orig_col_names[list(col_ixs)])
                self.feature_names.append(name)

                # get column multiplications value
                out = X[:, col_ixs[0]]
                for j in col_ixs[1:]:
                    out = out.multiply(X[:, j])

                out_mat.append(out)

        return sparse.hstack([X] + out_mat)

## 3. DATASET SPLIT TRAIN/TEST

In [75]:
# Making use of the imported python object identified on point 2.1, spliting the data into
# into two sets: "train" data (0.8) and "test" data (0.2)
X_train, X_test, y_train, y_test = multilabel_train_test_split(X, y, size=0.2, seed=123)

In [76]:
# Checking output shapes 
print('X_train:', X_train.shape, '\t', 'X_test:', X_test.shape)
print('y_train:', y_train.shape, '\t', 'y_test:', y_test.shape)

X_train: (14950, 1) 	 X_test: (3737, 1)
y_train: (14950, 24) 	 y_test: (3737, 24)

In [77]:
# Checking unique values and their frequency
for col in list(y_train):
        print(np.sort(y_train[col].unique()), '\t', tuple(y_train[col].value_counts()))

[0 1] 	 (14301, 649)
[0 1] 	 (13618, 1332)
[0 1] 	 (13822, 1128)
[0 1] 	 (13032, 1918)
[0 1] 	 (12849, 2101)
[0 1] 	 (14024, 926)
[0 1] 	 (13671, 1279)
[0 1] 	 (12256, 2694)
[0 1] 	 (14709, 241)
[0 1] 	 (13136, 1814)
[0 1] 	 (13015, 1935)
[0 1] 	 (14295, 655)
[0 1] 	 (14265, 685)
[0 1] 	 (13511, 1439)
[0 1] 	 (12916, 2034)
[0 1] 	 (13681, 1269)
[0 1] 	 (13085, 1865)
[0 1] 	 (13721, 1229)
[0 1] 	 (14095, 855)
[0 1] 	 (14686, 264)
[0 1] 	 (12346, 2604)
[0 1] 	 (7892, 7058)
[0 1] 	 (8599, 6351)
[0 1] 	 (13664, 1286)

In [78]:
for col in list(y_test):
        print(np.sort(y_test[col].unique()), '\t', tuple(y_test[col].value_counts()))

[0 1] 	 (3602, 135)
[0 1] 	 (3406, 331)
[0 1] 	 (3470, 267)
[0 1] 	 (3237, 500)
[0 1] 	 (3196, 541)
[0 1] 	 (3489, 248)
[0 1] 	 (3409, 328)
[0 1] 	 (3034, 703)
[0 1] 	 (3672, 65)
[0 1] 	 (3261, 476)
[0 1] 	 (3253, 484)
[0 1] 	 (3573, 164)
[0 1] 	 (3547, 190)
[0 1] 	 (3383, 354)
[0 1] 	 (3191, 546)
[0 1] 	 (3392, 345)
[0 1] 	 (3279, 458)
[0 1] 	 (3424, 313)
[0 1] 	 (3526, 211)
[0 1] 	 (3666, 71)
[0 1] 	 (3065, 672)
[0 1] 	 (1990, 1747)
[0 1] 	 (2129, 1608)
[0 1] 	 (3404, 333)

## 4. "TOKENIZATION" COMPARISON

In [17]:
# Importing "time" package to allow measure computational times
from time import time

In [18]:
# Importing "Vectorizers"
from sklearn.feature_extraction.text import HashingVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [19]:
# Optional: regularization expression for token extraction
tokenpattern = '[A-Za-z0-9]+(?=\\s+)'

In [20]:
# Number of token IDs to print for inspection
n_tokens = 10

### 4.1 "CountVectoriser"

In [21]:
# "Tokenising" train data (with timing)
t0 = time()
c_vec = CountVectorizer(stop_words='english')
c_v_X_train = c_vec.fit_transform(X_train.doc_text)
Duration = time() - t0

# Cheking the number of token IDs obtained and the time taken to do it
print('Number of tokens:', len(c_vec.get_feature_names()))
print('Time to vectorize:', Duration)

# Inspecting token IDs obtained 
print('First ' + str(n_tokens) + ' tokens:', c_vec.get_feature_names()[:n_tokens])
c_vec_tot_token = len(c_vec.get_feature_names())
c_vec_mid_token = round(c_vec_tot_token / 2)
print('Middle ' + str(n_tokens) + ' tokens:', c_vec.get_feature_names()[c_vec_mid_token : c_vec_mid_token+n_tokens])
print('Last ' + str(n_tokens) + ' tokens:', c_vec.get_feature_names()[-n_tokens:])

Number of tokens: 78606
Time to vectorize: 6.8535637855529785
First 10 tokens: ['00', '000', '0000', '00000', '00001', '000012009_20050505091603', '000090341_20050414100428', '000090341_20061122101801', '0001', '00011']
Middle 10 tokens: ['isf', 'isfahani', 'isfandyar', 'isfs', 'isg', 'isgac', 'isgei', 'isgis', 'isgoldmansachsinvestmentbank', 'isgss']
Last 10 tokens: ['zvidrina', 'zviniene', 'zw', 'zwaan', 'zwager', 'zweig', 'zylberberg', 'zyra', 'zz', 'zzeng']

In [22]:
# Applying the "tokenization" obtained to the "test" data
c_v_X_test = c_vec.transform(X_test.doc_text)

### 4.2 "Tf-idf"

In [23]:
# "Tokenising" train data (with timing)
t0 = time()
tfidf_vec = TfidfVectorizer(stop_words='english')
tfidf_X_train = tfidf_vec.fit_transform(X_train.doc_text)
Duration = time() - t0

# Cheking the number of token IDs obtained and the time taken to do it
print('Number of tokens:', len(tfidf_vec.get_feature_names()))
print('Time to vectorize:', Duration)

# Inspecting token IDs obtained 
print('First ' + str(n_tokens) + ' tokens:', tfidf_vec.get_feature_names()[:n_tokens])
tfidf_vec_tot_token = len(tfidf_vec.get_feature_names())
tfidf_vec_mid_token = round(tfidf_vec_tot_token / 2)
print('Middle ' + str(n_tokens) + ' tokens:', tfidf_vec.get_feature_names()[tfidf_vec_mid_token : tfidf_vec_mid_token+n_tokens])
print('Last ' + str(n_tokens) + ' tokens:', tfidf_vec.get_feature_names()[-n_tokens:])

Number of tokens: 78606
Time to vectorize: 10.589540004730225
First 10 tokens: ['00', '000', '0000', '00000', '00001', '000012009_20050505091603', '000090341_20050414100428', '000090341_20061122101801', '0001', '00011']
Middle 10 tokens: ['isf', 'isfahani', 'isfandyar', 'isfs', 'isg', 'isgac', 'isgei', 'isgis', 'isgoldmansachsinvestmentbank', 'isgss']
Last 10 tokens: ['zvidrina', 'zviniene', 'zw', 'zwaan', 'zwager', 'zweig', 'zylberberg', 'zyra', 'zz', 'zzeng']

In [24]:
# Applying the "tokenization" obtained to the "test" data
tfidf_X_test = tfidf_vec.transform(X_test.doc_text)

### 4.3 "HashingVectorizer"

In [25]:
# "Tokenising" train data (with timing)
t0 = time()
hv_vec = HashingVectorizer(alternate_sign = False, stop_words='english', ngram_range = (1, 2))
hv_X_train = hv_vec.fit_transform(X_train.doc_text)
Duration = time() - t0
print('Time to vectorize:', Duration)

Time to vectorize: 10.985121250152588

In [26]:
# Ckecking output shape
print('Sparse Matrix size:', hv_X_train.shape)

Sparse Matrix size: (1869, 1048576)

In [27]:
# Applying the "tokenization" obtained to the "test" data
hv_X_test = hv_vec.transform(X_test.doc_text)

In [28]:
# Checking HashingVectorizer parameters
hv_vec.get_params()

{'alternate_sign': False,
 'analyzer': 'word',
 'binary': False,
 'decode_error': 'strict',
 'dtype': numpy.float64,
 'encoding': 'utf-8',
 'input': 'content',
 'lowercase': True,
 'n_features': 1048576,
 'ngram_range': (1, 2),
 'norm': 'l2',
 'preprocessor': None,
 'stop_words': 'english',
 'strip_accents': None,
 'token_pattern': '(?u)\\b\\w\\w+\\b',
 'tokenizer': None}

## 5. MODEL TRAINING

### 5.1 DIMENSIONALITY REDUCTION

In [31]:
# Packages for dimensionality reduction
from sklearn.feature_selection import chi2, SelectKBest
from sklearn.preprocessing import MaxAbsScaler

In [74]:
# Number of best features to consider
chi_k = 1200

### 5.2 PIPELINES

In [55]:
# Packages for training pipelines
from sklearn.linear_model import LogisticRegression
from sklearn.multiclass import OneVsRestClassifier
from sklearn.pipeline import Pipeline
from sklearn.metrics import f1_score, accuracy_score

### 5.2.1 "CountVectoriser"

In [67]:
# Instantiate the pipeline
pl_cv = Pipeline([
        ('cv_vectorizer', CountVectorizer(stop_words='english')),
        ('cv_dim_red', SelectKBest(chi2, chi_k)),
        ('cv_int', SparseInteractions(degree=2)),
        ('cv_scale', MaxAbsScaler()),
        ('cv_clf', OneVsRestClassifier(LogisticRegression(solver = 'liblinear', max_iter=100)))
    ])

# Train the model
t0 = time()
pl_cv.fit(X_train.doc_text, y_train)
print('Time to train CV:', time() - t0)

# Measure model performance
t0 = time()
pcv_pred = pl_cv.predict(X_test.doc_text)
print('Time to predict CV:', time() - t0)
print("CV Accuracy: {}".format(accuracy_score(y_test, pcv_pred)))
print("CV Micro_f1: {}".format(f1_score(y_test, pcv_pred, average='micro')))

Time to train CV: 30.29857039451599
Time to predict CV: 59.1119544506073
CV Accuracy: 0.1907480080865739
CV Micro_f1: 0.5288633161108501

### 5.2.2 "TfidfVectoriser"

In [68]:
# Instantiate the pipeline
pl_tfidf = Pipeline([
            ('tfidf_vectorizer', TfidfVectorizer(stop_words='english')),
            ('tfidf_dim_red', SelectKBest(chi2, chi_k)),
            ('tfidf_int', SparseInteractions(degree=2)),
            ('tfidf_scale', MaxAbsScaler()),
            ('tfidf_clf', OneVsRestClassifier(LogisticRegression(solver = 'liblinear', max_iter=100)))
        ])

# Train the model
t0 = time()
pl_tfidf.fit(X_train.doc_text, y_train)
print('Time to train Tf-idf:', time() - t0)

# Measure model performance
t0 = time()
tfidf_pred = pl_tfidf.predict(X_test.doc_text)
print('Time to predict Tf-idf:', time()-t0)
print("CV Accuracy: {}".format(accuracy_score(y_test, tfidf_pred,)))
print("CV Micro_f1: {}".format(f1_score(y_test, tfidf_pred, average='micro')))

Time to train Tf-idf: 26.61548376083374
Time to predict Tf-idf: 48.99873757362366
CV Accuracy: 0.18503983826852183
CV Micro_f1: 0.5074000284616479

### 5.2.3 "HashingVectorizer"

In [79]:
# Instantiate the pipeline
hv_pl = Pipeline([
        ('hv_vectorizer', HashingVectorizer(alternate_sign = False, stop_words='english', ngram_range=(1, 2))),
        ('hv_dim_red', SelectKBest(chi2, chi_k)),
        ('hv_int', SparseInteractions(degree=2)),
        ('hv_scale', MaxAbsScaler()),
        ('hv_clf', OneVsRestClassifier(LogisticRegression(solver = 'liblinear', max_iter=100)))
    ])

# Train the model
t0 = time()
hv_pl.fit(X_train.doc_text, y_train)
print('Time to train HV:', time() - t0)

# Measure model performance
t0 = time()
phv_pred = hv_pl.predict(X_test.doc_text)
print('Time to predict HV:', time() - t0)
print("CV Accuracy: {}".format(accuracy_score(y_test, phv_pred)))
print("HV Micro_f1: {}".format(f1_score(y_test, phv_pred, average='micro')))

Time to train HV: 3746.2212569713593
Time to predict HV: 294.26678371429443
CV Accuracy: 0.27963607171527965
HV Micro_f1: 0.6391504498849132

## 6. COMPETITION HANDOUT FILE

In [80]:
# Predict the competition handout file 
t0 = time()
cmptt_pred = hv_pl.predict(X_cmptt_pred.doc_text)
print('Time to predict:', time() - t0)

Time to predict: 437.69395184516907

In [81]:
# Check output shape
cmptt_pred.shape

(18699, 24)

In [82]:
# Check output type
type(cmptt_pred)

numpy.ndarray

In [83]:
# Save output as a "csv" file (Competition submission requirements)
np.savetxt('cmptt_pred.csv', cmptt_pred, delimiter=',')